.swiper {
  --swiper-theme-color: #FFBA08;
  --swiper-pagination-color:#FFBA08;
  --swiper-pagination-bullet-opacity:1;
  --swiper-pagination-bullet-inactive-color:#999999;
  --swiper-pagination-bullet-inactive-opacity:1;
}
.swiper-slide {
  max-width: 1240px;
  max-height: 450px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-css-mode>.swiper-wrapper {
  overflow:hidden;
}